body 
{
  z-index:2;
}

canvas 
{
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index:-1;
  pointer-events:none;
  background:linear-gradient(#000000,#434343,#be5869,#fff);
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.grid 
{
  display:grid;
  grid-template-columns:auto min-content;
  justify-content:center;
  justify-items:end;
  align-items:center;
  gap:5px 10px;
}

.grid label
{
  color:white;
}

